TransformationXML_JSON/XML_to_JSON/Interfaces/Schemas/PersonData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://demo/person" xmlns="http://demo/person"
            elementFormDefault="qualified">

    <!-- Request -->
    <xsd:element name="PersonRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FirstName" type="xsd:string"/>
                <xsd:element name="LastName" type="xsd:string"/>
                <xsd:element name="Age" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Response -->
    <xsd:element name="PersonResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Status" type="xsd:string"/>
                <xsd:element name="Message" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
